@import '../styles/layout.css';

.callendar-page{
    margin-left: 100px;
    width: calc(100% -100px);
    display:flex;

    margin-top: 60px;
}
.left-column {
   width:54%;
   display:flex;
   flex-direction: column;
   align-items: center;
}

.task-box {
    width: 570px;
    height: 150px;
    background-color: #fff;
    border-radius: 25px;  
    padding: 24px 42px;
    position: relative;
    margin-bottom: 50px;
}
.dots {
    position: absolute;
    right: 42px;
    top: 16px;
    font-size: 24px;
    padding: 10px;
}
.dots:hover{
    cursor: pointer;
}
.domain{
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}

.task {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--grey);
    margin-top: 8px;
}
.task::after {
    content: '';
    display: block;
    width: 188px;
    height: 15px;
    left: 199px;
    top: 175px;
    margin-top: 20px;
    background-color: red;
    border-radius: 25px;
}
.task-box:nth-child(1) > .task::after {
    background-color: #FC0000;
}
.task-box:nth-child(2) > .task::after {
    background-color: #FCE300;
}
.task-box:nth-child(3) > .task::after {
    background-color: #51FC00;
}
.plus-row {
    width: 570px;
    margin-bottom: 40px;;
}

.plus {
    height: 48px;
    width:48px;
    line-height: 48px;
    text-align: center;
    background-color: var(--dark-blue);
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    border:none;
}
.plus:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px rgb(162, 162, 162);
    color:rgb(219, 219, 219);
}

.right-column{
    
}
.callendar{
    padding: 37px 69px 37px 37px;
}
.month-raw {
    display:flex;
    justify-content: center;
    column-gap: 15px;
    width: 100%;
    height: 80px;
    align-items: center;
}
.arrow-icon{
    text-decoration: none;
    color: #000;
}
.month{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.callendar{
    width: 600px;
    height:550px;
    background-color: #fff;
    border-radius: 25px;
    margin-right: 10px;
}
.callendar-raw{
    width: 100%;
    display: grid;
    grid-template-rows: 23% 77%
}
.weekdays, .week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.weekdays {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: var(--grey); 
}
.weekdays::after {
    content: '';
    display: block;
    background-color: var(--grey);
    height: 1px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: span 7;
}

.month-days {
    display: grid;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 
}
.day.this-month {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.day.not-this-month{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--grey);
}
.day {
    background-color: transparent;
    border:none;
}

.day:active{
    background-color: var(--dark-blue);
    height: 54px;
    width: 54px;
    line-height:54px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.day:hover {
    cursor: pointer;
}

@media (max-width: 1300px){
    .callendar-page{
        flex-direction: column-reverse;
        row-gap: 25px;
    }
    .task-box {
        margin-bottom: 25px;
        width: 600px;
    }
    .right-column{
        display:flex;
        justify-content: center;
    }
    .left-column {
        display:flex;
        justify-content: center;
        width: 100%;
    }
    .plus-row {
        display:flex;
        justify-content: flex-end;
    }
    
}  
    
@media (max-width: 750px){
    .callendar{
        padding: 20px
    }
    .weekday{
        font-size: 20px;
    }
    .callendar{
        width: 450px;
    }
    .task-box{
        width: 450px;
        height: 120px;
    }
    .plus-row {
        width: 450px;
    } 
    .day:hover {
        height: 46px;
        width: 46px;
        line-height:46px;
    }
    .task::after {
        width: 140px;
        height: 10px;
        margin-top: 6px;
    }
    .task {
        margin-top: 2px;
    }
    .dots {
        top: 0px;
        padding: 6px;
    }
}
/*
140 ir 10
}*/