@import './layout.css';

.home-page {
    width: calc(100vw - 100px);
    margin-left: 100px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}
.home-top-row{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.top-left-column {
    width: 516px;
    height: 80px;
    font-size: 36px;
    line-height: 43.88px;
    font-weight: 500;
}

.top-right-column {
    height: 147px;
    width: fit-content;
    background-color: #fff;
    padding: 22px 96px 22px 96px;
    border-radius: 25px;
}
 
time {
    width: 100%;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: var(--dark-blue);
}

.today {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
}

.home-img {
    background-image: url(../img/workplace-results-professional-report-accounting-during\ 1.png);
    height: 432px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 23px;
}
.quate-container{
    width:100%;
    height: 121px;
    
}
.quate-container {
    margin-top: 49px;
    margin-bottom: 43px;
}
.bottom-row {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 898px;
    height: 121px;
    padding: 49px 185px 49px 185px;
    border: #02577A solid 2px;
    border-radius: 25px;
    text-align: center;
    float: left;
    margin-left:50%;
    transform: translateX(-50%);

}

@media only screen and (max-width: 1160px) {
    .top-left-column {
        font-size: 29px;
        line-height: 35px;
        margin-bottom: 33px;
        width: 300px;
        margin-top: 33px;
    }

    .top-right-column {
    padding: 22px 20px 22px 20px;
    }
    .bottom-row {
    padding: 49px;
    width: 626px;
    }
}
@media only screen and (max-width: 880px) {
    .home-top-row{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-left: 10%;
       
    }
    .bottom-row{
        display:inline-block;
        width: 433px;
        height: 121px;
    }     

}
