@import '../global.css';
.nav {
    width: 100px;
    height: 100%;
    top: calc(50% - 100%/2);
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.nav:hover {
    width: 206px;
    max-width: 206px;
    height: 100%;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: width 1.5s;
}

.nav:hover .text {
    visibility: visible;
    margin-left:20px;
    transition: visibility 0.5s ease-out 0.5s;
    text-align: center;
    text-decoration: solid;
}
.logo {
    width: 68%;
    height: 34px;
    left: 16px;
    top: calc(50% - 34px/2 - 384px);
    margin: 52px 16% 24.03px 16%;
}
.line {
    height: 2px;
    background-color: var(--grey);
    margin-left: 18%;
    width: 62.24%;
    margin-bottom: 31.97px;
}
.box {
    display: flex;
    object-position: left;
    border-radius: 25px 0px 0px 25px;
    margin: 34px 0 34px 36px;
    align-items: center;
    text-decoration: none; 
}
.nav > .box:hover {
    max-width: 100%;
    cursor: pointer;
}
.nav > .box:hover .text{
    color: #02577A;
    text-decoration: underline;
}
.nav > .box.active {
    background-color: #fff;
    padding: 16px;
    margin-left: 20px;
}
nav > .box > svg {
    height: 25px;
    width: 25px;
    fill: var(--grey);
}
nav > .box  .img{
    width: 25px;
    height: 25px;
    fill: var(--grey);
}
nav > .box > .text {
    visibility: hidden;
    color: var(--grey);
}
nav > .box > .fe-img {
    width: 25px;
    height: 25px;
}
nav > .box > .fe-text {
    visibility: hidden;
    margin-top: 20px;
    color: var(--grey);
}


footer {
    position:relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: calc(100% - 100px);
}
footer > .bit {
    text-transform: capitalize;
    color: var(--dark-blue);
    font-size: 11px;
    font-weight: 500;
    line-height: 13.41px;
    text-align:center;
    width: 346px;
    padding: 11px 11px;
    margin-left:calc(50% + 100px);
    transform: translateX(-50%);
    position: relative;
    bottom: 0px;
    }
    footer > .bit::before {
        content: '';
        display:block;
        height:1px;
        width:346px;
        background-color:  #02577A;
        bottom: 33px;
        position: absolute;
    }