
.side-header {
    width: 100px;
    height: 100%;
    left: 0px;
    top: calc(50% - 100%/2);
    display: inline-block;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-header:hover {
    width: 206px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: width 2s;
    position: fixed;
    
}



.logo {
    width: 68%;
    height: 34px;
    left: 16px;
    top: calc(50% - 34px/2 - 384px);
    margin: 52px 16px 24.03px 16px;
}

.line {
    border:  2px solid #C4C4C4;
    margin-left: 18%;
    width: 62.24%;
    margin-bottom: 31.97px;
}

nav > .home-link > .home-img{
    display:block;
    width: 89px;
    height: 57px;
    padding:  16px 32px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 18px;
}

nav > .home-text {
    display:none;
}

nav > .home-link > .home-img:hover {
    background-color: #fff;
    cursor: pointer;}

nav > .callandar-link >.callendar-img {
    display: block;
    width: 89px;
    height: 57px;
    padding:  16px 32px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 18px;
}   

nav > .callendar-text {
    display:none;
}

nav > .callandar-link> .callendar-img:hover {
    background-color: #fff;
    cursor: pointer;
}

nav > .fe-link > .fe-img {
    display:block;
    width: 89px;
    height: 57px;
    padding:  16px 32px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 18px;
}

nav > .fe-text {
    display:none;
}

nav > .fe-link > .fe-img:hover {
    background-color: #fff;
    cursor: pointer;
}

nav > .games-link >.games-img {
    display: block;
    width: 89px;
    height: 57px;
    padding: 16px 25px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 18px;
}

nav > .games-text {
    display: none;
}

nav > .games-link > .games-img:hover {
    background-color: #fff;
    cursor: pointer;
}

footer {
    position:relative
}
footer > .long-line {
    position: absolute;
    border: 1px solid #02577A;
    width: 346.01px;
    margin-left:50%;
    transform: translate(-50%);
    bottom: 35px;
}

footer > .bit {
    text-transform: capitalize;
    color: var(--dark-blue);
    font-size: 11px;
    position: absolute;
    font-weight: 500;
    margin-left:50%;
    transform: translate(-50%);
    bottom: 11px;
    line-height: 13.41px

}