
.side-header {
    width: 100px;
    height: 100%;
    top: calc(50% - 100%/2);
    display: inline-block;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-header:hover {
    width: 206px;
    height: 100%;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: width 2s;
    position: fixed;
    
}

.side-header:hover .text {
    display: block;
    margin-left:20px;
}

.logo {
    width: 68%;
    height: 34px;
    left: 16px;
    top: calc(50% - 34px/2 - 384px);
    margin: 52px 16px 24.03px 16px;
}

.line {
    border:  2px solid #C4C4C4;
    margin-left: 18%;
    width: 62.24%;
    margin-bottom: 31.97px;
}

nav {
    width:fit-content;
}

.box {
    width: fit-content;
}
nav > .box > .link {
    width:fit-content
}
nav > .box > .link > .img{
    float:left;
    width: 89px;
    height: 57px;
    padding:  16px 32px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 18px;
}

nav > .box > .text {
    display:none;
}

nav > .box > .link > .img:hover {
    background-color: #fff;
    cursor: pointer;}


nav > .box > .fe-link {
    width:fit-content   
}
nav > .box > .fe-link > .fe-img {
    display:block;
    width: 89px;
    height: 57px;
    padding:  16px 32px;
    margin-left: 11px;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 18px;
}

nav > .box > .fe-text {
    display:none;
}

nav > .box > .fe-link > .fe-img:hover {
    background-color: #fff;
    cursor: pointer;
}

footer {
    width: fit-content ;
    height: fit-content;
    position: absolute;
    bottom: 35px;
    left:50%;
    transform: translate(-50%);
}
footer > .long-line {
    width: 346.01px;
    border: 1px solid #02577A;
    margin-bottom: 11px;
    
    
}

footer > .bit {
    width:100%;
    text-transform: capitalize;
    color: var(--dark-blue);
    font-size: 11px;
    font-weight: 500;
    line-height: 13.41px;
    text-align:center;
}