
.nav {
    width: 100px;
    height: 100%;
    top: calc(50% - 100%/2);
    position: fixed;
    float: left;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.nav:hover {
    width: 206px;
    max-width: 206px;
    height: 100%;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: width 1.5s;
    position: fixed;
}

.nav:hover .text {
    visibility: visible;
    margin-left:20px;
    transition-duration: 0.5s;
    transition-delay: 0.7s;
    text-align: center;
    text-decoration: solid;
}

.logo {
    width: 68%;
    height: 34px;
    left: 16px;
    top: calc(50% - 34px/2 - 384px);
    margin: 52px 16% 24.03px 16%;
    
}

.line {
    height: 2px;
    background-color: var(--grey);
    margin-left: 18%;
    width: 62.24%;
    margin-bottom: 31.97px;
}

.box {
    display: flex;
    object-position: left;
    border-radius: 25px 0px 0px 25px;
    margin: 34px 0 34px 36px;
    align-items: center;
    
}

.nav > .box:hover {
    max-width: 100%;
    cursor: pointer;
    transition: opacity 0.5s linear;
    transition-delay: 0.2s;
    text-decoration: underline;
}
.nav > .box:active {
    background-color: #fff;
    padding: 16px;
}

nav > .box > .img{
    width: 25px;
    height: 25px; 
}

nav > .box > .text {
    visibility: hidden;
    color: var(--grey);
    text-decoration: none;
}

nav > .box > .fe-img {
    width: 25px;
    height: 25px;
}

nav > .box > .fe-text {
    visibility: hidden;
    margin-top: 20px;
    color: var(--grey);
    text-decoration: none;
}

.home-page {
    width:calc(100vw - 102px);
    height: 53%;
}

.top-left-column {
    width: fit-content;
    float: left;
    margin: 89px 0 37px 206px;
    font-size: 36px;
    line-height: 43.88px;
    font-weight: 500;
}

.top-right-column {
    float: right;
    width: fit-content;
    background-color: #fff;
    padding: 22px 96px 22px 96px;
    border-radius: 25px;
    margin: 56px 67px 23px 23px;
}
 
time {
    width: 100%;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: var(--dark-blue);
}

.today {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
}

.home-img {
    object-fit: contain;
    object-position: right;
    min-width:calc(100vw - 102px);
    float:left;
    margin-left: 100px;
}
.bottom-row {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 898px;
    height: 121px;
    padding: 49px 185px 49px 185px;
    border: #02577A solid 2px;
    border-radius: 25px;
    float: left;
    margin-left: 50vw;
    transform: translateX(-50%);
    margin-top: 49px;
    margin-bottom: 92px;
    }

@media only screen and (max-width: 1160px) {
    .top-left-column {
        font-size: 29px;
        line-height: 35px;
    }

    .top-right-column {
    padding: 22px 20px 22px 20px;
    }

    .bottom-row {
    padding: 49px;
    width: 626px;
    }
}
@media only screen and (max-width: 910px) {
    .top-right-column {
        float: left;
        margin-left: 206px;
    }
}

footer > .bit {
    width:100%;
    text-transform: capitalize;
    color: var(--dark-blue);
    font-size: 11px;
    font-weight: 500;
    line-height: 13.41px;
    text-align:center;
    border-top: 2px solid #02577A;
    width: 346px;
    padding: 11px 81px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0px;
    }
